.background{

background-image: url('../../../assets/images/blog4.jpg');
background-repeat: no-repeat;
      
      background-size: cover;
      width: 100%;
      height: 200px;
      padding-left: 60px;
      padding-right: 60px;
}