<div class="background">

</div>
<div class="container">
<div class="row">
    <div class="col-md-3">

        <div class="card" style="width: 18rem; margin-left: 40px;">
            <img src="../../../assets/images/fashion.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Fashion</p>
            </div>
</div>
          </div>
          <div class="col-md-3">
          <div class="card" style="width: 18rem;margin-left: 120px;  ">
            <img src="../../../assets/images/tech.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;" >Technology</p>
            </div></div></div>

            <div class="col-md-3">
            <div class="card" style="width: 18rem;margin-left: 200px;">
                <img src="../../../assets/images/food.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;">Food</p>
                </div>
              </div></div>
          </div>

    



</div>