<!-- <div class="container">
  <div class="row">
      <form [formGroup]="loginForm">
          <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" (click)="Login()" class="btn btn-primary">login</button>
      </form>
  </div>
</div> -->




<form [formGroup]="loginForm" action="action_page.php" method="post">
    <div class="imgcontainer">
      <img src="../../../assets/images/avtar2.webp" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input formControlName="email" type="email" placeholder="Enter email"  required>
  
      <label for="psw"><b>Password</b></label>
      <input formControlName="password" type="password" placeholder="Enter Password" name="psw" required>
  
      <button (click)="Login()" type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>