<div class="container">

  <div class="row">

      <form [formGroup]="blogForm">
          <div class="form-group">
              <label for="exampleInputEmail1">Title</label>
              <input formControlName="title" class="form-control" placeholder="Enter title">
          </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Category</label>
              <select formControlName="categoryId" class="form-control" (change)="filterSubCategory($event)">
                  <option *ngFor="let obj of allCategoryObj" [value]="obj._id">{{obj.name}}</option>
              </select>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1">Sub Category</label>
              <select formControlName="subCategoryId" class="form-control">
                  <option [value]="obj._id" *ngFor="let obj of tempAllSubCategoryObj">{{obj.name}}</option>
              </select>
          </div>
          <div class="form-group">
              <angular-editor formControlName="blogText" [config]="editorConfig"></angular-editor>
          </div>
          <div class="form-group">
              <div class="row">
                  <div class="col-11"><input type="file" (change)="uploadImage($event)"></div>
              </div>
              <div class="row" *ngFor="let obj of displayArr;index as i ">
                  <div class="col-11">{{obj}}</div>
                  <div class="col-1"><button class="btn btn-danger" (click)="deleteImage(i)">X</button></div>
              </div>
          </div>
          <button type="submit" (click)="addBlog()" class="btn btn-primary mt-5">Submit</button>
      </form>

  </div>


</div>