<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" >Chanpreet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/blog" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Blog
          </a>
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div> -->
        </li>
        
          <li class="nav-item">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          
    
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="https://twitter.com/el_alturas" target="twitter" >
            <i class="fab fa-fw fa-twitter" style="color: blue; margin-left: 100px; margin-right: 0px;" ></i>
          </a>
            
            
        </li>
        <li class="nav-item">
          <a href="https://www.facebook.com/" target="facebook" >
            <i class="fab fa-facebook" style="color: blue;  margin-right: 100px; margin-left: 80px;"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://www.instagram.com/accounts/login/" target="instagram" >
              <i class="fab fa-instagram" style="color: blue; margin-right:100px"></i></a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>