<div class="row">
<div class="col-md-6">
    <img src="../../../assets/images/avatar.png" alt="avatar" ></div>
<div class="col-md-6"> 
<p style="padding-top: 70px;">hello! I am Engineer</p>
</div>

</div>
