
.form{
    background-image: url('../../../assets/images/login.jpg');
    
    background-repeat: no-repeat;
          
          background-size: cover;
          width: 100%;
          height: 1000px;
          
          box-sizing: border-box;
          border-style: solid;
            
         
          border-radius: 10%;
          padding: 20px 0px;
    }
    .box{
     border-style: solid;
    text-align: center;
    margin-right: 300px ;
    background-color: black;
    margin-top: 30px;
    }
    