<form class="form" [formGroup]="registerForm" style="padding-left: 500px">  
    <div class="box">
    <div class="form-group">
      <label style="padding-top: 20px; color: blanchedalmond; "  for="formGroupExampleInput">Firstname</label>
      
      <input  style="width: 300px; margin-left: 40px; "  formControlName="firstname" type="text" class="form-control" id="firstname" placeholder="firstname">
    </div>
    <div class="form-group">
      <label style="color: blanchedalmond;" for="formGroupExampleInput">Lastname</label>
      <input style="width: 300px;" formControlName="lastname" type="text" class="form-control" id="lastname" placeholder="lastname">
    </div>
    <div class="form-group">
      <label style="color: blanchedalmond;" for="formGroupExampleInput">Username</label>
      <input style="width: 300px;" type="text" formControlName="username" class="form-control" id="username" placeholder="username">
    </div>
    <div class="form-group">
      <label style="color: blanchedalmond;" for="exampleFormControlInput1">Email </label>
      <input style="width: 300px;" type="email" class="form-control" formControlName="email" id="email"  placeholder="email">
    </div>
    <!-- <div class="form-group">
      <label style="color: blanchedalmond;" for="exampleFormControlSelect1">Gender</label>
      <select style="width: 300px;" class="form-control" id="exampleFormControlSelect1" >
        <option  value="male">Male</option>
        <option   value="female">Female</option>
        
      </select>
    </div> -->
  
  
    
    <div class="form-group">
      <label style="color: blanchedalmond;"  for="exampleFormControlInput1">Password </label>
      <input style="width: 300px;" type="password" class="form-control" formControlName="password" id="password"  placeholder="password">
    </div>
  
  
    <button type="button"  (click)="Register()" class="btn btn-danger">Register</button>
    </div>
      </form>  
      
      
      