<footer class="page-footer" style="background-color:black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">content</p>
  
  
        </div>
        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
  <!-- icon -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
  
      </div>
    </div>
  </footer>