 
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-2 col-sm-4 sidebar1">
              <div class="logo">
                  <img src="http://lorempixel.com/output/people-q-g-64-64-1.jpg" class="img-responsive center-block" alt="Logo">
              </div>
              <br>
              <div class="left-navigation">
                  <ul class="list">
                      <h5><strong>WHEREABOUTS</strong></h5>
                      <li>Home</li>
                      <li>Office</li>
                      <li>School</li>
                      <li>Gym</li>
                      <li>Art Class</li>
                      <li>Hike Club</li>
                  </ul>

                  <br>

                  <ul class="list">
                      <h5><strong>HOBBIES</strong></h5>
                      <li>Hiking</li>
                      <li>Rafting</li>
                      <li>Badminton</li>
                      <li>Tennis</li>
                      <li>Sketching</li>
                      <li>Horse Riding</li>
                  </ul>
              </div>
          </div> 





 
